body {
    font-size: 13px;
}

.small-version {
    font-size: 10px;
}

.navbar-header {
    margin-top: 0;
    margin-bottom: 8px;
}

.col-sm-1 {
    margin-top: -10px;
}

#donate {
    transition: 0.3s;
    opacity: 0.8;
    color: red;
}

#donate:hover {
    opacity: 1;
}
