body {
    font-size: 13px;
}

.small-version {
    font-size: 10px;
}

.navbar-header {
    margin-top: 0;
    margin-bottom: 8px;
}

.col-sm-1 {
    margin-top: -10px;
}

#body-popup {
    width: 200px;
}
